<% @meta_description = "Browse all Security Advisories #{params[:severity].try(:humanize)} #{params[:ecosystem]} #{params[:package_name]} #{params[:repository_url]}" %>

<div class="container-sm">
  <h2 class="h1">
    <%= @meta_title = "#{params[:severity].try(:humanize)} #{params[:ecosystem]} #{params[:package_name]} Security Advisories"%>
  </h2>

  <p class="lead">
    Browse all Security Advisories
    <% if params[:severity].present? || params[:ecosystem].present? || params[:package_name].present? || params[:repository_url].present? %>
      for 
    <% end %>
    <%= params[:severity].try(:humanize) %>
    <%= params[:ecosystem] %>
    <%= params[:package_name] %>
    <%= params[:repository_url] %>
  </p>

  <div class="row">
    <div class="col-lg-8">
      <div class="listing-controls text-end">
        <%= render 'sort' %>
      </div>
      <%= render @advisories %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>
  
    <div class="col-lg-4 listing-filters">
      <h3 class="h4 mx-3">Filter by Severity</h3>
      <div class="list-group list-group-flush">
        <% @severities.each do |severity,count| %>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:severity] == severity %>" href="<%= url_for(request.params.merge(severity: (params[:severity] == severity ? nil : severity), page: nil)) %>">
            <%= severity.humanize %>
            <span class="badge badge-light rounded-pill"><%= number_with_delimiter count %></span>
          </a>
        <% end %>
      </div>

      <h3 class="h4 mt-5 mx-3">Filter by Ecosystem</h3>
      <div class="list-group list-group-flush">
        <% @ecosystems.each do |ecosystem,count| %>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:ecosystem] == ecosystem %>" href="<%= url_for(request.params.merge(ecosystem: (params[:ecosystem] == ecosystem ? nil : ecosystem), page: nil)) %>">
            <%= ecosystem %>
            <span class="badge badge-light rounded-pill"><%= number_with_delimiter count %></span>
          </a>
        <% end %>
      </div>

      <h3 class="h4 mt-5 mx-3">Filter by Package</h3>
      <div class="list-group list-group-flush">
        <% @packages.first(200).each do |package,count| %>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:package_name] == package['package_name'] %>" href="<%= url_for(request.params.merge(package_name: (params[:package_name] == package['package_name'] ? nil : package['package_name']), page: nil)) %>">
            <%= package['package_name'] %>
            <span class="badge badge-light rounded-pill"><%= number_with_delimiter count %></span>
          </a>
        <% end %>
      </div>
    
      <h3 class="h4 mt-5 mx-3">Filter by Repository</h3>
      <div class="list-group list-group-flush">
        <% @repository_urls.first(200).each do |repository_url,count| %>
          <% next if repository_url.blank? %>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if params[:repository_url] == repository_url %>" href="<%= url_for(repository_url: (params[:repository_url] == repository_url ? nil : repository_url), page: nil) %>">
            <%= repository_url %>
            <span class="badge badge-light  rounded-pill"><%= number_with_delimiter count%></span>
          </a>
        <% end %>
      </div>

    </div>
  </div>
</div>
