<% @meta_title = "#{@advisory} |  Security Advisories"%>
<% @meta_description = "#{@advisory.title}. #{@advisory.description}" %>
<div class="purple-grad-bg mb-5 pt-5 pb-4">
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">ecosyste.ms</a></li>
        <li class="breadcrumb-item"><%= link_to 'Security Advisories', advisories_path %></li>
        <li class="breadcrumb-item" aria-current="page"><%= @advisory.ecosystems.join(', ') %></li>
      </ol>
    </nav>

    <h2 class="h3 advisory-header__title mb-4"><%= @advisory %></h2>

    <div class="advisory-header__meta d-flex flex-wrap align-items-center mb-4">
      <div class="d-flex flex-wrap flex-grow-1 mb-2">
        <span class="me-4 mb-2 badge <%= severity_class(@advisory.severity)%>"><%= @advisory.severity.humanize %></span>
        <% if @advisory.cvss_score && @advisory.cvss_score > 0 %>
        <span class="me-4 mb-2 advisory-header__meta__text">CVSS: <%= @advisory.cvss_score %></span>
        <% end %>
        <% if @advisory.epss_percentage %>
          <span class="me-4 advisory-header__meta__text">EPSS: <%= @advisory.epss_percentage %>% (<%= @advisory.epss_percentile %> Percentile)</span>
        <% end %>
        <% if @advisory.epss_percentile %>
          <span class="me-4 advisory-header__meta__text">EPSS: </span>
        <% end %>
        <!-- <span class="advisory-header__meta__text">Blast Radius: <%= @advisory.blast_radius.round(1) %></span> -->
      </div>
      <div class="d-flex mb-2 advisory-header__meta__text">
        <%= link_to "Permalink", @advisory.url, target: :_blank, class: "me-3 mb-2" %>
        <%= link_to "JSON", api_v1_advisory_url(@advisory) %>
      </div>
      
    </div>
  	<h1 class="h2"><%= @advisory.title %> </h1>
  </div>
</div>
<div class="container">
  <div class="table-wrapper table-responsive-lg">
    <table class="table table-bordered ecosystems-table mb-5">
      <thead class=" ">
        <tr>
          <th>Affected Packages</th>
          <th>Affected Versions</th>
          <th>Fixed Versions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @advisory.packages.each_with_index do |package, index| %>
        <% package_record = Package.ecosystem(package['ecosystem']).where(name: package['package_name']).first %>

        <tr>
          <td>
            <%= link_to Registry.package_html_link_for(package), target: :_blank do %>
              <%= package['ecosystem'] %>:<%= package['package_name'] %>
            <% end %>
            <% purl = PurlParser.generate_purl(ecosystem: package['ecosystem'], package_name: package['package_name']) %>
            <% if purl %>
              <div class="small text-muted mt-1">
                PURL: <code><%= purl %></code>
              </div>
            <% end %>
          </td>
          <td>
            <%= package['versions'].map{|v| v['vulnerable_version_range']}.join(', ') %>
          </td>
          <td>
            <% if package['versions'].map{|v| v['first_patched_version']}.any? %>
              <%=  package['versions'].map{|v| v['first_patched_version']}.join(', ') %>  
            <% else %>
              No known fixed version
            <% end %>
          </td>
          <td><button class="btn btn-link p-0" data-bs-toggle="collapse" data-bs-target="#details<%= index %>">Expand</button></td>
        </tr>
        <tr class="collapse-row">
          <td colspan="4" class="p-0">
            <div id="details<%= index %>" class="collapse">
              <div class="p-3">
              <% if package_record.present? && package_record.last_synced_at.present? %>
              <div class="stat-bar">
                <% if package_record.dependent_packages_count.present? %>
                  <div class="stat-card mb-2">
                    <div class="stat-card-body">
                      <span class="stat-card-title"><%= number_with_delimiter(package_record.dependent_packages_count) %></span>
                      <span class="stat-card-text small">Dependent packages</span>
                    </div>
                  </div>
                <% end %>
            
                <% if package_record.dependent_repos_count.present? %>
                  <div class="stat-card mb-2">
                    <div class="stat-card-body">
                      <span class="stat-card-title"><%= number_with_delimiter(package_record.dependent_repos_count) %></span>
                      <span class="stat-card-text small">Dependent repositories</span>
                    </div>
                  </div>
                <% end %>
            
                <% if package_record.downloads.present? %>
                  <div class="stat-card mb-2">
                    <div class="stat-card-body">
                      <span class="stat-card-title">
                        <%= number_with_delimiter(package_record.downloads) %>
                        
                      </span>
                      <span class="stat-card-text small">Downloads <%= package_record.downloads_period.present? ? package_record.downloads_period.gsub('-', ' ') : "" %></span>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            

            <% if package_record && package_record.last_synced_at %>
              <h3 class="h4 mt-4">Affected Version Ranges</h3> 
              <h4 class="small">All affected versions</h4>
              <p><%= package_record.affected_versions( package['versions'].map{|v| v['vulnerable_version_range']}.join(' || ')).join(', ') %></p>
              <% if package['versions'].map{|v| v['first_patched_version']}.any? %>
                <h4 class="small">All unaffected versions</h4>
                <p><%= package_record.fixed_versions( package['versions'].map{|v| v['vulnerable_version_range']}.join(' || ')).join(', ') %></p>
              <% end %>
            <% end %>        
                <p><button class="btn btn-link p-0" data-bs-toggle="collapse" data-bs-target="#details<%= index %>">Minimise</button></p>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

	<div class="row">
		<div class="col-lg-8">
			<div class="page-content mt-4 pe-lg-3">
        <%== render_markdown @advisory.description %>
        References: 
          <ul>
          <% @advisory.references.each do |url| %>
            <li><%= link_to(url, url, target: :_blank) %></li>
          <% end %>
          </ul>
			</div>
		</div>

		<div class="col-lg-4">
      <div class="sidebar rounded p-4 mt-4">
        <h2>Identifiers</h2>
        <% @advisory.identifiers.each do |identifier| %>
          <p><%= identifier %></p>
        <% end %>
        <h2>Risk</h2>
        <h3>Severity</h3>
        <p><span class='me-4 badge <%= severity_class(@advisory.severity)%>'><%= @advisory.severity.humanize %></span> </p>
        <!--
        <h3>Blast radius</h3>
        <p><%= @advisory.blast_radius.round(1) %> </p>
        -->
        <% if @advisory.cvss_score && @advisory.cvss_score > 0 %>
          <h3>CVSS</h3>
          <p>CVSS Score: <%= @advisory.cvss_score %> </p>
          <p>CVSS vector: <code><%= @advisory.cvss_vector %></code></p>
        <% end %>
        <% if @advisory.epss_percentage %>
          <h3>EPSS</h3>
          <p>EPSS Percentage: <%= @advisory.epss_percentage %></p>
          <p>EPSS Percentile: <%= @advisory.epss_percentile %></p>
        <% end %>
        <% if @advisory.classification.present? %>
        <h2>Classification</h2>
        <p><%= @advisory.classification.humanize %></p>
        <% end %>
        <h2>Source</h2>
        <p><%= @advisory.source %></p>
        <% if @advisory.origin.present? %>
        <h2>Origin</h2>
        <p><%= @advisory.origin.humanize %></p>
        <% end %>
        <% if @advisory.repository_url.present? %>
        <h2>Repository</h2>
        <p><%= link_to @advisory.repository_url, @advisory.repository_url, target: :_blank %></p>
        <% end %>
        <h2>Date and time</h2>
        <h3>Published</h3>
        <p><span title="<%= @advisory.published_at %>"><%= time_ago_in_words @advisory.published_at %> ago</span></p>
        <h3>Updated</h3>
        <p><span title="<%= @advisory.updated_at %>"><%= time_ago_in_words @advisory.updated_at %> ago</span></p>
        <% if @advisory.withdrawn_at %>
          <h3>Withdrawn</h3>
          <p><span title="<%= @advisory.withdrawn_at %>"><%= time_ago_in_words @advisory.withdrawn_at %> ago</span></p>
        <% end %>
        <h2>API</h2>
        <p><%= link_to "JSON", api_v1_advisory_url(@advisory) %></p>
      </div>
		
		</div>
	</div>
  
</div>